body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Noto Sans TC", sans-serif;
    background-color: #ffffff;
    overflow-y: auto;
}

#h {
    background-color: red;
}

.navbar-nav>.active {}

.table>tbody>tr>td {
    vertical-align: middle;
}

#logo {
    display: block;
    margin: 0 auto;
    text-indent: 1px;
    width: 75px;
    height: 75px;
}

.carousel-inner>.carousel-item>a>img {
    width: auto;
    height: 400px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: gray;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: gray;
}